/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f6f8f9;
}
header {
    background-color: white;
 }

 .logo {
    display: flex  ;
 }
h1 {
  font-size: 35px;
}
